@import "../../../../styles/variables.scss";

.tile-wrapper {
  border-color: $lightGray;
  border-style: solid;
  box-shadow: 1px 8px 7px 1px rgba($mediumGray, 0.2);
  border-radius: 12px;
  border-width: 2px;
  height: 300px;
  margin: 30px 25px 40px;
  width: 240px;
}

.tile-bg-img__inner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  height: 160px;
  min-height: 190px;
  object-fit: cover;
  width: 100%;
}

.tile-bg-img {
  height: 190px;
  width: 100%;
}

.tile-info {
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
  padding: 0.5em;

  &__upper-row {
    &--name {
      font-size: 1.25em;
      padding-top: 0.5em;
    }
  }

  &__lower-row {
    &--tvshows {
      padding-bottom: 1em;
    }
  }
}
