<footer class="footer">
  <div class="footer__message">
    We are Disney fans and we adore concept of Open Source &nbsp;
    <img
      class="footer__message--icon"
      src="../../assets/svg/Heart.svg"
      alt="heart icon"
    />
  </div>
  <div class="footer__github">
    <a
      mat-stroked-button
      href="https://github.com/MarcinOkroj/disney-characters-website"
      target="_blank"
      >Visit Our Github</a
    >
  </div>
  <div class="footer__date">
    Made with &nbsp;
    <img
      class="footer__message--icon"
      src="../../assets/svg/Heart.svg"
      alt="heart icon"
    />
    &nbsp; 2023
  </div>
</footer>
